# .env.example
DATABASE_URL="file:./dev.db"
NEXTAUTH_SECRET="change-me"
NEXTAUTH_URL="http://localhost:3000"
NEXT_PUBLIC_PUSHER_KEY=""
NEXT_PUBLIC_PUSHER_CLUSTER=""
PUSHER_APP_ID=""
PUSHER_SECRET=""
PUSHER_CLUSTER=""
CLOUDINARY_CLOUD_NAME="dfid5mzsg"
CLOUDINARY_API_KEY="615935157395778"
CLOUDINARY_API_SECRET=""
